.wrapper {
  height: 100%;
}

.container {
  width: 468px;
  height: 468px;
  border-style: solid;
  border-color: blue;
  background-color: black;
  border-radius: 20px;
  margin: auto;
}

.boxInBoard {
  width: 150px;
  height: 150px;
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-color: blue;
  border-radius: 20px;
}

.xclass {
  background-color: yellow;
  text-align: center;
  vertical-align: middle;
  padding
}

.oclass {
  background-color: blue;
  text-align: center;
  vertical-align: middle;
}

.score {
  margin-left: 370px;
}

.replayBtn {
  width: 250px;
}

.title {
  font-size: 75px;
}

body {
  font-family: Ubuntu;
  height: 100%;
  text-align: center;
}

html {
  height: 100%;
}