<!Doctype html>
<html ng-app="tttApp">
<head>
    <title>Project 2 - Period 1</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div class="board" ng-controller="tttController">
        {{testing}}
        <p>TTT Reference Step 1</p>
        <div class="theBox"></div>

        <div ng-repeat="currentCell in cellList">
            <div class="allCellsAlways" ng-click="playerPicks(currentCell)" ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status=='O'}">
                Cell Contents: {{currentCell.status}}
            </div>
        </div>    
    </div>
</body>
</html>